        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        button {
            background-color: crimson;
            padding: 15px 30px;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            box-shadow: 0 6px 7px rgba(0,0,0,0.6);
        }

        button p {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }